<!doctype html>
<html data-bs-theme="dark" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">    
    <title>Samarth Achar</title>
  </head>
  <body>

   <!--   Top Bar   --> 
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
   <div class="col-md-3 mb-2 mb-md-0"></div>
   <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
      <li><a href="https://github.com/samarthachar" class="nav-link px-2">GitHub</a></li>
      <li><a href="#" class="nav-link px-2">LinkedIn</a></li>
   </ul>
</header>
   <!--    Hero  --> 

    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <img class="d-block mx-auto mb-4" src="/static/avatar.jpg" alt="" width="150" height="150">
   <h1 class="display-4 fw-bold text-body-emphasis">Samarth Achar</h1>
   <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">I'm a 14-year-old developer with a deep interest in programming that began when I was just 8. Since then, I've spent countless hours exploring different languages, building projects, and learning through experimentation. My work reflects a genuine curiosity for how things function beneath the surface, and a drive to create solutions that are both practical and thoughtful. Whether it's front-end design, back-end logic, or something entirely new, I enjoy the challenge of turning ideas into working code.</p>
      
   <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5"> <img src="/static/html_tag.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy"> </div>
   </div>
</div>

   <!--   List Of Skills   --> 

<div class="container px-4 py-5" id="featured-3">
   <h2 class="pb-2 border-bottom">My Skills</h2>
   <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
         <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-success bg-gradient fs-2 mb-3 rounded p-1">
            <img src="/static/frontend.png" height="25">
         </div>
         <h3 class="fs-2 text-body-emphasis">Front End</h3>
         <p>I have a solid understanding of HTML and CSS, with experience designing clean, responsive layouts that prioritize usability and accessibility. I use frameworks like Bootstrap to accelerate UI development and maintain visual consistency across platforms. I also integrate front-end components with back-end logic using Flask and WTForms, enabling dynamic, interactive web applications that deliver a smooth user experience.</p>

      </div>
      <div class="feature col">
         <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-success bg-gradient fs-2 mb-3 rounded p-1">
            <img src="/static/backend.png" height="25">
         </div>
         <h3 class="fs-2 text-body-emphasis">Back End</h3>
            <p>I’ve gained practical experience with a variety of Python tools and workflows, including web scraping, API usage, automation, and JSON data handling. I’ve built GUI applications using Tkinter, worked with file systems, and developed full-stack solutions by integrating front-end interfaces with back-end logic. I’m also confident using Pandas for data analysis, and I’ve completed the 100 Days of Python: The Complete Bootcamp by Angela Yu to strengthen my skills across real-world applications.</p>
      </div>
      <div class="feature col">
         <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-success bg-gradient fs-2 mb-3 rounded p-1">
            <img src="/static/database.png" height="25" width="">
         </div>
         <h3 class="fs-2 text-body-emphasis">Database</h3>
        <p>I’ve worked extensively with SQL and relational databases such as SQLite, PostgreSQL, and MySQL. My experience includes designing schemas, writing queries, and managing data efficiently across different environments. I also use SQLAlchemy to integrate database functionality into backend applications, enabling seamless interaction between data models and front-end interfaces.</p>
      </div>
   </div>
</div>

<!-- Project Examples -->

<div class="container px-4 py-5" id="custom-cards">
   <h2 class="pb-2 border-bottom">My Projects</h2>
   <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
         <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url(/static/greentext.png);">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
               <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"><a href="https://github.com/samarthachar/Projects/tree/main/LibraryProject" style="color: white;">Library Project</a></h3>
               <ul class="d-flex list-unstyled mt-auto">
                  <li class="me-auto"> <img src="/static/avatar.jpg" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white"> </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="col">
         <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/static/bluetext.jpg');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
               <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"><a href="https://github.com/samarthachar/Projects/tree/main/Password%20Manager%20v2" style="color: white;">Password Manager</a></h3>
               <ul class="d-flex list-unstyled mt-auto">
                  <li class="me-auto"> <img src="/static/avatar.jpg" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white"> </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="col">
         <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/static/redtext.webp');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
               <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"><a href="https://github.com/samarthachar/Projects/tree/main/Snake%20Game" style="color: white;">Snake Game</a></h3>
               <ul class="d-flex list-unstyled mt-auto">
                  <li class="me-auto"> <img src="/static/avatar.jpg" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white"> </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="bg-dark text-secondary px-4 py-5 text-center">
   <div class="py-5">
      <h2 class="pb-2 border-bottom text-white">Other Projects</h2>
      <div class="col-lg-6 mx-auto">
         <p class="fs-5 mb-4">You’re welcome to explore my GitHub repositories for a selection of projects I’ve worked on. They reflect my ongoing interest in building thoughtful, functional solutions. I’m always learning, experimenting, and improving through each one.</p>
         <div class="d-grid gap-2 d-sm-flex justify-content-sm-center"> <a type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold" href="https://github.com/samarthachar/Portfolio">Portfolio</a> <a type="button" class="btn btn-outline-light btn-lg px-4" href="https://github.com/samarthachar/Projects">Projects</a> </div>
      </div>
   </div>
</div>

<!-- Footer -->
<div class="container">
   <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
      <div class="col mb-3">
      </div>
      <div class="col mb-3"></div>
      <div class="col mb-3">
         <h5>Email</h5>
         <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">name@example.com</a></li>
            </ul>
      </div>
      <div class="col mb-3">
         <h5>Number</h5>
         <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">+44 0123 456789</a></li>
            </ul>
      </div>
      <div class="col mb-3">
         <h5>Occupation</h5>
         <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Student</a></li>
            </ul>
      </div>
   </footer>
</div>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>    
  </body>
</html>